
@import "./bulma.css";
@import "./colors.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');


html{
    background-color:$dark;
    
}
body { 
    font-family: "Open Sans", sans-serif;

    .center-img{
        position: relative;
        margin-top: 50%;
        margin-right: 50%; 
        text-align: center;
        color: $offwhite;
   
    }
    .icon-mod{
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        font-weight: bold;
    }


    .section{  
        color: $offwhite;
        text-align: center;
        

    }

    .subtitle{
        color: $offwhite;
        text-align: center;
    }
    p{
        em{
            color: #E30425;
            font-style: normal;
        }
    }
    .barText{
        text-align: left;
    }


    .socials{
        
        width: fit-content;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 25px;
        a{
            color: $offwhite;
            text-emphasis: none;
    
        }

    }
    a{
        color: #4ebdfd;
        text-emphasis: none;
        position: relative;

    }
    a:hover{
        color: $light-grey;
    }
    a::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color:$light-grey;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.25s ease-in-out 0s;
    }
    a:hover::before {
        visibility: visible;
        color: $light-grey;
        transform: scaleX(1);
      }




   
}